#First {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: 2s;

  @include rwd(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include rwd(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  .role-content {
    background: #000;
    color: #fff;
    margin: 2px;
    padding: 2.5rem 1rem;
    transition: 0.5s;
    display: grid;
    align-items: center;

    img {
      width: 100%;
      object-fit: cover;
      transform: translateY(20px);
      transition: transform 0.3s ease;
      opacity: 0;
    }

    &:hover {
      #ArrowIcon {
        transform: rotate(-60deg);
      }

      img {
        transform: translateY(0);
        opacity: 1;
      }

      color: #000;
    }

    .role-content-name {
      font-size: 3.5rem;
      font-weight: bold;
      text-transform: Uppercase;
      margin-bottom: 0.2rem;
    }

    .role-content-role {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
  }

  #ArrowIcon {
    $icon-size: 2.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: $icon-size;
    height: $icon-size;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: 0.3s;
    margin-top: 2rem;
  }
}
